@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@300;400;600&display=swap");

:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --verydarkblue1: hsl(217, 54%, 11%);
  --verydarkblue2: hsl(216, 50%, 16%);
  --verydarkblue3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  font-size: 18px;
}

* {
  margin: 0px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--verydarkblue1);
}

main {
  width: 15.4rem;
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: var(--verydarkblue2);
  color: var(--white);
}

picture > img {
  width: 100%;
  border-radius: 0.5rem;
}

main > h1 {
  font-size: 1.22rem;
  font-weight: 600;
  margin-top: 1rem;
}

main > p {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: var(--softblue);
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.price .current-price {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--cyan);
}

.current-price > img {
  width: 0.6rem;
  padding-right: 0.3rem;
}

.price .time-left {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: var(--softblue);
}

.time-left > img {
  width: 1rem;
  padding-right: 0.3rem;
}

hr {
  margin-top: 1rem;
  border: none;
  height: 1px;
  color: var(--verydarkblue3);
  background-color: var(--verydarkblue3);
}

.creator-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.855rem;
  color: var(--softblue);
  margin-top: 0.7rem;
}

.creator-info .name {
  color: var(--white);
}
.creator-info > img {
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 0.9rem;
  border: 1px solid var(--white);
  border-radius: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
