:root {
  --offwhite: hsl(236, 100%, 97%);
  --lightgray: hsl(0, 0%, 95%);
  --purple: hsl(234, 25%, 52%);
  --deeppurple: hsl(234, 54%, 16%);
  --grayblue: hsl(232, 10%, 56%);
  --darkpink: hsl(341, 92%, 62%);
  --pink: hsl(341, 100%, 83%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(13, 100%, 64%);
  --magenta: hsl(322, 87%, 55%);
  --blue: hsl(237, 100%, 64%);
  --grad-sunset: linear-gradient(to bottom, var(--orange), var(--magenta));
  --grad-miami: linear-gradient(to bottom, var(--blue), var(--magenta));
  --grad-white: linear-gradient(to bottom, var(--white), var(--offwhite));
  font-size: 1rem;
}

* {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgray);
}

header,
.intro,
main,
footer {
  width: 21.438rem;
  padding: 1rem 1rem 0rem 1rem;
  background-color: var(--white);
}

/*  Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(1rem);
}

.logo {
  scale: 78%;
  margin-left: -0.8rem;
}

/*  button */
.get-started {
  width: 8.75rem;
  height: 3rem;

  border: none;
  border-radius: 2rem;

  font-size: 1rem;
  font-weight: 700;

  background-color: var(--deeppurple);
  color: var(--white);
}

h1 {
  margin-top: 2.4rem;
  font-size: 2.5rem;
  font-weight: 800;
}

p {
  margin-top: 1.7rem;
  line-height: 1.625rem;
  color: var(--grayblue);
}

.sunset-button {
  width: 10.4rem;
  height: 3.5rem;
  margin-top: 1.5rem;
  background: var(--grad-sunset);
}

.hero-image {
  width: 100%;
  scale: 127%;
  margin-top: 4.325584rem;
}

/*  Main */

main {
  background: var(--grad-white);
  padding-bottom: 5rem;
}

main > * {
  margin-top: 1rem;
}

section {
  /* width: 17.938rem; */
  width: 17.8rem;
  margin-top: 2.9rem;
  padding: 0rem 1.6rem 0rem 1.8rem;
  border-radius: 0.7rem;

  background-color: var(--white);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.main-heading {
  margin-top: 0rem;
  border-radius: 0.7rem;

  background: var(--grad-sunset);
  color: var(--white);
}

h2 {
  padding: 1.5rem 0.3rem 1.5rem;
  font-weight: 800;
  line-height: 2rem;
}

.main-icons {
  position: absolute;
  margin-top: -1.5rem;
}

h3 {
  padding-top: 3.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

section p {
  margin-top: 1rem;
}

section a {
  display: inline-block;
  margin: 1.5rem 0rem 2.3rem 0rem;

  font-size: 1.125rem;
  font-weight: 700;

  color: var(--darkpink);
  text-decoration: none;
}

.business-container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*  Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 1rem;

  background-color: var(--deeppurple);
}

footer .miami-button {
  background: var(--grad-miami);
}

/*  Tablet Version */

@media screen and (min-width: 44em) {
  header,
  .intro,
  main,
  footer {
    width: 44rem;
    padding: 2rem 2rem 2rem 2rem;
  }

  header {
    position: relative;
    transform: translateY(2rem);
    padding: 1.5rem 2rem 0 2rem;
  }

  .intro {
    display: flex;
    overflow: hidden;
    padding-bottom: 2rem;
  }

  .hero-image {
    position: relative;
    width: 150%;
    bottom: 6rem;
    left: 3.4rem;
    scale: 158%;
  }

  .info {
    position: static;
    margin: 4rem 0rem 0rem 0.4rem;
    width: 119rem;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-top: 2rem;
  }

  h2 {
    padding: 3.5rem 0.3rem 1.5rem;
  }

  section {
    margin: 0 0rem 3.6rem 0rem;
  }

  .business-container {
    filter: none;
  }
}

/*  Desktop Version */

@media screen and (min-width: 76em) {
  :root {
    font-size: 1.125rem;
  }
  header,
  .intro,
  main,
  footer {
    width: 76rem;
  }

  header > .get-started {
    transform: scale(1.05);
    margin-right: 7.4rem;
    font-size: 0.95rem;
  }

  .logo {
    transform: scale(1.28);
    margin-left: 7.15rem;
  }

  .hero-image {
    scale: 113.8%;
    bottom: 13.7rem;
    left: 0.1rem;
  }

  .info {
    max-width: 119rem;
    margin-left: 7.15rem;
  }

  h1 {
    margin-top: 5.55rem;
    font-size: 3.1rem;
  }

  .info > p {
    margin-right: 10rem;
  }

  .info > button {
    margin-top: 2.2rem;
    width: 9.2rem;
  }

  main {
    width: 63.4865rem;
    margin-top: -18.05rem;
    padding: 8.257rem 8.257rem 4.3rem 8.257rem;
  }

  .main-heading {
    margin-top: 1rem;
  }

  .main-heading h2 {
    font-size: 1.77rem;
    line-height: 2.3rem;
  }

  section {
    width: 16.1rem;
    margin-top: 1rem;
  }

  section h3 {
    font-size: 1.33rem;
  }

  section p {
	min-height: 6.5rem;
  }

  section a {
    font-size: 1rem;
  }

  footer {
	padding-top: 1.77778rem;
	padding-bottom: 1.77778rem;
  }
  footer button{
	margin-right: 7.2rem;
	min-width: 9.2rem;
  }
}
