:root {
  --offwhite: hsl(236, 100%, 97%);
  --lightgray: hsl(0, 0%, 95%);
  --purple: hsl(234, 25%, 52%);
  --deeppurple: hsl(234, 54%, 16%);
  --grayblue: hsl(232, 10%, 56%);
  --darkpink: hsl(341, 92%, 62%);
  --pink: hsl(341, 100%, 83%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(13, 100%, 64%);
  --orangewhite: hsl(13, 100%, 80%);
  --magenta: hsl(322, 87%, 55%);
  --magentawhite: hsl(322, 87%, 75%);
  --blue: hsl(237, 100%, 64%);
  --bluewhite: hsl(237, 100%, 80%);
  --grad-sunset: linear-gradient(180deg, var(--orange), var(--magenta));
  --grad-sunsetwhite: linear-gradient(180deg, var(--orangewhite), var(--magentawhite));
  --grad-miami: linear-gradient(180deg, var(--blue), var(--magenta));
  --grad-miamiwhite: linear-gradient(180deg, var(--bluewhite), var(--magentawhite));
  --grad-white: linear-gradient(180deg, var(--white), var(--offwhite));
  font-size: 1rem;
}

* {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgray);
}

header,
main,
footer {
  width: 21.438rem;
  padding: 1rem 1rem 0rem 1rem;
  background-color: var(--white);
}

/*  Header */

header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transform: scale(0.78);
  margin-left: -0.78rem;
  margin-top: 0.2rem;
}

/*  buttons */
.get-started {
  width: 8.75rem;
  height: 3rem;

  border: none;
  border-radius: 2rem;

  font-size: 1rem;
  font-weight: 700;

  background: var(--deeppurple);
  color: var(--white);
}

.sunset-button {
  width: 10.4rem;
  height: 3.5rem;
  margin-top: 1.5rem;
  background: var(--grad-sunset);
}

h1 {
  margin-top: 2.4rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--deeppurple);
}

p {
  margin-top: 1.7rem;
  line-height: 1.625rem;
  color: var(--grayblue);
}

.hero-image {
  width: 100%;
  scale: 127%;
  margin-top: 4.325584rem;
}

/*  Main */

main {
  background: var(--grad-white);
  padding-bottom: 5rem;
}

main > * {
  margin-top: 1rem;
}

section {
  width: 18.066rem;
  margin-top: 2.5rem;
  padding: 0rem 1.6rem 0rem 1.766rem;
  border-radius: 0.7rem;

  background-color: var(--white);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.main-heading {
  margin-top: 0rem;
  border-radius: 0.7rem;

  background: var(--grad-sunset);
  color: var(--white);
}

h2 {
  padding: 1.5rem 0.3rem 2rem 0rem;
  font-weight: 700;
  line-height: 2rem;
}

.main-icons {
  position: absolute;
  margin-top: -1.5rem;
}

h3 {
  padding-top: 3.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

section p {
  margin-top: 1.066rem;
}

section a {
  display: inline-block;
  margin: 1.5rem 0rem 2.3rem 0rem;

  font-size: 1.125rem;
  font-weight: 700;

  color: var(--darkpink);
  text-decoration: none;
}

.business-container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*  Footer */

footer {
  padding: 1.1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--deeppurple);
}
.footer-container {
  padding: 1.1rem 0rem 1.1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--deeppurple);
}

footer .miami-button {
  background: var(--grad-miami);
}

/*  Tablet Version */

@media screen and (min-width: 44em) {
  header,
  main,
  footer {
    width: 46rem;
  }

  header {
    display: flex;
    flex-direction: row;
    overflow: clip;
  }

  .top {
    position: absolute;
    width: 43rem;
    margin: 0.444rem 0rem 0rem 1.466rem;
  }

  .info {
    position: relative;
    min-width: 25rem;
    padding: 7.166rem 0rem 0rem 1.444rem;
  }

  .hero-image {
    width: 174.7%;
    position: relative;
    bottom: 6.366rem;
    left: 0.4rem;
  }

  main {
    width: 43.666rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0.4rem 2.2rem 1.766rem 2.144rem;
  }

  h2 {
    padding: 3.5rem 0.3rem 1.5rem;
  }

  section {
    width: 17.8rem;
    margin: 0 0rem 3.6rem 0rem;
  }

  section .main-icons,
  h3,
  p {
    margin-left: 0.2rem;
    margin-right: -0.5rem;
  }

  section a {
    margin-left: 0.2rem;
  }
  .business-container {
    filter: none;
  }

  footer {
    padding-bottom: 1.2rem;
  }
  .footer-container {
    margin: 0rem 1.444rem;
  }
}

/*  Desktop Version */

@media screen and (min-width: 76em) {
  :root {
    font-size: 1.125rem;
  }
  header,
  main,
  footer {
    width: 76rem;
  }

  header {
    padding: 1.1rem 2rem;
  }

  .top {
    position: absolute;
    width: 60.85rem;
    padding: 0rem 3rem;
    margin: 0.1rem 0rem 0rem 5rem;
    z-index: 1;
  }

  .top > .get-started {
    width: 9.244rem;
    height: 3.1rem;
  }

  .top > .get-started:hover {
	background: var(--purple);
	cursor: pointer;
  }

  .info {
    position: relative;
    min-width: 26rem;
    padding: 10.344rem 0rem 0rem 7.2rem;
  }

  h1 {
    font-size: 3.11rem;
    line-height: 4rem;
  }

  .info > p {
    margin: 1.644rem 2rem 0rem 0rem;
    line-height: 1.55rem;
  }

  .sunset-button {
    margin-top: 2.266rem;
    width: 9.3rem;
  }
  .sunset-button:hover {
	background: var(--grad-sunsetwhite);
	cursor: pointer;
  }
  .hero-image {
    width: 45.766rem;
    position: relative;
    bottom: 8.166rem;
    left: 11.566rem;
  }

  .logo {
    scale: 1.29;
  }

  main {
    width: 63.4rem;
    margin-top: -1rem;
    padding: 0rem 8.3rem 4.3rem 8.366rem;
  }

  .main-heading {
    margin-top: 1rem;
    padding-right: 1.7rem;
  }

  .main-heading h2 {
    margin-top: 0.1rem;
    margin-left: -0.3rem;
    font-size: 1.788rem;
    line-height: 2.22rem;
  }

  section {
    width: 16rem;
    margin-top: 1rem;
  }

  section .main-icons {
    margin: -1.3rem 0rem 0rem -0.066rem;
  }

  section h3 {
    font-size: 1.33rem;
    margin-top: 0.044rem;
    margin-left: -0.044rem;
  }

  section p {
    min-height: 6.5rem;
    margin: 1.3rem 0rem 0rem -0.066rem;
    line-height: 1.566rem;
  }

  section a {
    margin: 1.288rem 0rem 2.422rem -0.066rem;
    font-size: 1rem;
  }

  footer {
    padding: 0.6rem 2rem;
  }
  .footer-container .logo {
    margin-left: 5.7rem;
  }

  footer button {
    margin-right: 5.8rem;
    min-width: 9.2rem;
  }

  footer button:hover {
	 background: var(--grad-miamiwhite);
	cursor: pointer;
  }
}
